{% extends 'base.html' %}

{% load static %}

{% block content %}

<DOCTYPE html>
    <html>
      <head>
            <title>Blog de tegnología</title>
    
        <style>
          h1{
            text-align: center;
            text-shadow: 2px 2px 4px cyan;
          }
          div{
            border: 2px solid black;
            margin: 10px;
            padding: 10px;
            box-shadow:  2px 2px 15px cyan;
          }
          body{
            background-color: gray;
          }
          .out{
            background-color: black;
          }
          .in{
            background-color: white;
          }
          #btn{
            text-align: center;	
            box-shadow: inset 5px 5px 15px black;    	    
          }
          .btn{
            background-color: #6cf000;
            height: 25px;
            box-shadow:  2px 2px 15px cyan;
                margin-left: 50px;
            transition: all 0.5s easy 0s;
          }
          .btn:active{
            background-color: red;
            height: 35px;
            box-shadow:  2px 2px 15px yellow;
            margin-left: 50px;
          }
          .btn:hover{
            width: 250px;
            box-shadow: 4px 4px 30px yellow;
          }
          .name{
            text-align: center;
          }
        </style>
      </head>
    
      <body>
       <div>
        <h1>Nuevas Tecnologías: el mundo de cristal</h1>
          <div class="name">
           <small><b>ADRIEL GALLARDO GARCÍA</b></small>
          </div>
        <hr/>
        <section>
         <div class="out">
          <div class="in">
           <article>       
            <p>Internet y redes sociales. Burbujas de Filtro y Marketing Político. Comunicación e incomunicación. El juego podría prolongarse. 
               Diariamente se utilizan cientos de conceptos. Pero, si escogemos uno de ellos y tratamos de escribir sobre este vocablo, la polémica comienza. 
               De repente, los más realistas se dan cuenta de que para diferentes personas, Internet por ejemplo, puede significar cosas muy distintas.
    
               En 2021 había más de cuatro mil quinientos millones de ciudadanos conectados a la red de redes, según datos publicados por el portal alemán de 
               estadística en línea Statista. 
    
               Preparemos, entonces, el nudo para agarrar cada concepto. Internet: ¿Quién eres? Burbujas de Filtro: ¿Dónde estás? Uno y otro: 
               ¿Se podrá repensar la forma de proveer y utilizar sus servicios? Bien amarradas están las palabras. Aun así, se nos pueden escapar.</p>
          </article>
         </div>	
    
         <div class="in">
          <article>
            <h3>Frases. Frases. Frases</h3>
        Si alguien dice: “todo lo que brilla es oro”, muchos sabrán que es una exageración. No todo lo que brilla es oro, ni todo el oro brilla. 
            Al oír que “las nuevas tecnologías y, en especial, Internet, han revolucionado los aspectos de millones de vidas”, miles de usuarios afirmarán que 
            escucharon una realidad. Realidad porque en 2021 más de 4 500 millones de ciudadanos estaban conectados a la red de redes, 
            según estadísticas publicadas por el portal alemán Statista. También porque el desarrollo de la web implica importantes conexiones entre plataformas, 
            interfaces y nuevos modos de decir. Además porque, hoy día, comunicarse con contactos personales e institucionales y acceder a contenidos de interés 
            resulta posible a través de dispositivos que se generalizan cada vez más, como los móviles o laptops.
    
            La comunidad virtual del mundo se ha convertido en una herramienta provechosa cuando se trata de generar estados de opinión. 
            Maravilla del nuevo mundo. Éxtasis del siglo XXI. Éter de una industria y de una sociedad. Vea cómo los consumidores han ganado protagonismo en la estructura, 
            funcionamiento y alcance de los contenidos. Vea a un usuario que emite la información. Vea que la división entre quienes elaboran contenidos se trastoca, 
            frente a la posibilidad de publicación como resultado del mero uso. Vea…
    
            Ahora bien, con gesto olímpico podemos afirmar que las nuevas tecnologías generan maneras diferentes y visibles de estar y actuar, 
            las cuales –a su vez– influyen en los individuos o colectividades conectadas. Pero ¿y los ciudadanos sin acceso a Internet? 
            ¿No son cerca de tres mil millones? ¿Qué sucede con ellos? Aquí empiezan los problemas. Reunamos un grupo de personas sin acceso a la red de redes: 
            es casi seguro que una gran mayoría señalará que no tiene recursos para comprar dispositivos inteligentes o no existe la infraestructura necesaria en 
            las zonas donde viven. Esa unidad se romperá cuando se toque el punto de aquellos que están predispuestos por lo que Manuel Castells denominó 
            “bloqueo psicológico” respecto al mundo virtual.
    
             A partir de ese momento, se abandonan las cómodas generalidades; habrá que concretar, meter en causa las opiniones de los usuarios, sus objetivos de vida y, 
             aun, sus sueños individuales. Entonces veinte personas que hablaban un idioma común, cuando la discusión se enfocaba sobre los beneficios del Internet, 
             tratarán de ponerse de acuerdo por medio de un esperanto irreconciliable cuando se toca el punto: burbujas de filtro, libertad digital, marketing político…
          </article>
         </div>
    
         <div class="in">
          <article>
            <h2>Diálogo alrededor de las burbujas</h2>
        Yo siempre tengo mis sospechas cuando Google me propone sus contenidos y utiliza las burbujas de filtro. Estas seleccionan para cada actor una información 
            personalizada, siguiendo las rutas de su perfil personal, profesional, gustos o simpatías. Eli Pariser, creador de ese concepto, 
            alerta acerca de los peligros derivados de quedar atrapadas en ellas. “En una época en la que el intercambio de información coexiste como la base 
            de la experiencia compartida, la burbuja de filtros actúa igual a una fuerza centrífuga que nos separa”, asegura.
    
            En cuanto a la interacción en redes sociales, los autores Miguel Oliva, Carlos de Angelis y Carlos Arana explican que, a diferencia de otro tipo de datos, 
            el acceso a la información sobre los mensajes y los perfiles egocéntricos en redes sociales no están producidos por pequeñas y medianas empresas consultoras 
           (como suele ocurrir con las encuestas de opinión pública), sino por grandes corporaciones privadas e internacionalizadas. 
            De ahí que estas generen una serie de polémicas respecto al acceso y control de la información.
          </article>
         </div>
    
         <div class="in">
          <article>
            <h2>Mirando a Europa y América del Norte</h2>
        Los patrones de búsqueda seleccionan para cada actor una información personalizada.
            El exespía de la Agencia Central de Inteligencia y de la Agencia de Seguridad Nacional de los Estados Unidos (NSA, por sus siglas en inglés) 
            Edward J. Snowden, protagonista de uno de los mayores escándalos diplomáticos de la historia, comenta en su libro Vigilancia Permanente: 
            “La promesa de la comodidad llevó a la gente a sustituir sus sitios web personales por una página de Facebook y una cuenta de Gmail. 
            Pocos de nosotros lo comprendimos en su momento, pero ninguna de las cosas que íbamos a compartir nos pertenecería nunca más. 
            Los sucesores de las empresas de comercio electrónico que habían fracasado por no saber encontrar algo que nos interesara comprar se toparon con un 
            producto nuevo que vender. Ese producto éramos nosotros.”
    
            En 2018 una investigación internacional develó cómo las empresas Facebook Inc. y Cambridge Analytica utilizaron la información personal recabada de los 
            usuarios para favorecer, mediante técnicas avanzadas de marketing político, el resultado de campañas electorales. Desde entonces, 
            el imperio de Mark Zuckerberg ha lidiado con demandas y normativas que lo obligan a repensar la forma de utilizar sus servicios. 
            Las principales estrategias de regulación digital han sido promovidas por la Unión Europea. En 2016 se adoptó el Reglamento General de Protección de Datos, 
            con el propósito de garantizar el derecho humano a la privacidad e integridad. Por otro lado, el modelo jurídico norteamericano está desactualizado. 
            En el ámbito legal, compañías como Facebook tienen derecho a actuar con independencia, amparadas en las Sección 230 de la Ley de Decencia en las 
            Comunicaciones (1996), la cual permite que las plataformas de Internet moderen sus contenidos sin responder por la acción de los usuarios.
    
            Sería interesante entonces preguntarnos si las contadas leyes en materia de regulación tecnológica han sido las mismas en el conflicto de Ucrania. 
            También sería interesante cuestionarnos hasta qué punto las personas, interconectadas en más de una red a la vez, se adaptan a los códigos, reglas y roles 
            impuestos por el nuevo escenario.
          </article>
         </div>
        </div>
        </section>    
        <div class="text-center">
            <a class="btn btn-dark" href="/blog/">
				Back
			</a>
        </div>
      </div>
      </body>
    </html>






{% endblock %}